.containerInner {
  /* height: 75vh;
  width: 75vw; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.containerOuter {
  margin-top: -27px;
}

.head {
  color: white;
  background-color: #38006b;
  padding: 44px;
  font-size: 20px;
  min-height: 117px;
  margin-top: 4px;
}

.header-memory {
  font-size: 27px;
  text-align: center;
  margin-top: -12px;
  position: absolute;
  margin-left: 28%;
}

.head > p {
  margin-top: 28px;
  color: white;
  position: absolute;
  margin-left: 34%;
}
.logoGame {
  width: 7%;
  margin-top: 5px;
  margin-left: 14%;
  position: absolute;
}

.placeholder {
  font-style: italic;
}

.allcards {
  height: 100px;
  width: 80px;
  border: 1px solid black;
  border-radius: 6px;
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  box-shadow: 2px 2px 8px;
}

.animate:active {
   transform: rotateY(60deg);
   -webkit-transform: rotateY(60deg);
   -ms-transform: rotateY(60deg);
}

.game-board-all {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.container {
  margin: 0px 15px 21px 15px;
}

.return-game {
  margin-top: 5%;
  z-index: 314;
  position: absolute;
  margin-left: 37%;
}

.return-memory:hover {
  background-color: ivory;
}

.return-memory {
  background-color: #38006b;
    border-radius: 4px;
    border: 1px solid #38006b;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    min-height: 50px;
    vertical-align: middle;
    width: 100%;
    margin: 10px;
    margin-top: 4vh;
}

.return-text-memory:hover {
  color: #38006b;
  text-decoration: none !important;
}

.return-text-memory {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 10px;
}
